<div class="dashboard">

    <div class="dashboard-shadowBox">
        <div class="dashboard-redirect" ng-click="vm.goToMolecularCalculator()">Molecular Calculator</div>
    </div>
    <div class="dashboard-shadowBox">
        <div class="dashboard-redirect" ng-click="vm.goToQuickReference()">Quick Reference</div>
    </div>
    <div class="dashboard-shadowBox">
        <div class="dashboard-redirect" ng-click="vm.goToPeriodicTable()">Periodic Table</div>
    </div>
    <div class="dashboard-shadowBox">
        <div class="dashboard-redirect" ng-click="vm.goToSolutionTools()">Solution Tools</div>
    </div>

</div>