<br>

<div class="mainLandingPage">
    <div class="text-center">
        <h1 class="titleText"><img src="../../../../../Protonic/src/app/common/images/atomt.png" alt="logo" class="logoImg">Protonic</h1>
    </div>

    <br>
    <br>
    <div class="text-center">
        <h1 class="descText">Helping you finish your work with chemistry tools</h1>
    </div>

    <br>
    <br>
    <br>
    <br>
    <div class="col-md-6 col-md-offset-3">
        <h3>Protonic gives you a molecular mass calculator starting from a chemical compound</h3>
    </div>

    <br>
    <div class="col-md-6 col-md-offset-3">
        <h3>You will also find an interactive periodic table which can be modified to better show element types, phases or electronegativity</h3>
    </div>

    <br>
    <div class="col-md-6 col-md-offset-3">
        <h3>Different tools to better calculate dilution, molarity, volume percentage and also a page of quick references to help you find in no time the needed information</h3>
    </div>
</div>


<div class="signUpBox col-md-offset-4 col-md-4">
    <h2>Sign up</h2>
    <br>
    <input type="text" placeholder="email address" class="form-control">
    <input type="text" placeholder="occupation" class="form-control">
    <br>
    <button class="btn btn-default pull-right">Sign Up</button>
</div>

<div class="bottomBox col-md-offset-5 col-md-2">
    <div class="text-center">
        <button class="btn btn-info bottomInfo pull-left">About</button>
        <button class="btn btn-info bottomInfo pull-right">Contact</button>
    </div>
</div>