.PeriodicTable {
  min-height: 700px;

  .tableExtendedContainer {
    display: flex;
    flex-direction: row;

    .emptySpace {
      flex-basis: 5%;
    }
    .buttons-container {
      flex-basis: 10%;
      max-height: 50px;
      display: flex;
      flex-direction: column;

      .buttons-row {
        padding: 5px;
      }
      .buttons-item {
        max-width: 100px;
        white-space: normal;
      }
    }
    .tableContainer {
      flex-basis: 65%;
      .elements-row {
        max-height: 65px;

        .chemicalElement {
          padding: 3px;
          width: 65px;
          height: 65px;
          min-height: 65px;
          min-width: 65px;
          display: inline-block;

          .elementAtomicNumber {
            font-size: 8px;
          }
          .elementSymbol {
            font-size: 12px;
          }
          .elementWeight {
            font-size: 8px;
          }
          .elementElectronConf {
            font-size: 5px;
          }
        }
      }
    }
    .legendContainer {
      flex-basis: 20%;

      .legend {
        left: 30px;
        top: 30px;
        width: 220px;

        .legend-item {
          padding: 5px;
          margin: 5px;
        }
      }
    }
  }
}

.elementFullDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nonmetal {
  background-color: #BDFAB6;
}
.nobleGas {
  background-color: #B6F5FA;
}
.alkaliMetal {
  background-color: #C4B9B9;
}
.alkalineEarthMetal {
  background-color: #E6B5B5;
}
.metalloid {
  background-color: #F0FAB6;
}
.halogen {
  background-color: #B6FAE6;
}
.transitionMetal {
  background-color: #FAB6B6;
}
.transactinide {
  background-color: #FADAB6;
}
.lanthanide {
  background-color: #E89292;
}
.actinide {
  background-color: #DE7E7E;
}
.metal {
  background-color: #FAC6B6;
}

.solid {
  background-color: #9C9C9C;
}
.gas {
  background-color: #DEDEDE;
}
.artificial {
  background-color: #F5F5F5;
}
.liquid {
  background-color: #BEBEBE;
}

.electronegativity01 {
  background-color: #DBE6E0;
}
.electronegativity12 {
  background-color: #B4D7BF;
}
.electronegativity23 {
  background-color: #96C8A2;
}
.electronegativity34 {
  background-color: #79A888;
}

.electroconfig {
  background-color: #F6C9CC;
}

@media (max-width: 1600px) {
  .PeriodicTable {


    .tableExtendedContainer {

      .buttons-container {
        .buttons-item {
          max-width: 110px;
        }
      }

      .tableContainer {

        .elements-row {
          max-height: 58px;

          .chemicalElement {
            width: 50px;
            min-width: 50px;
          }
        }
      }
    }
  }
}